/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

html, body, div, h1, h2, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body{
	width: 100%;
	height: 100%;
}

a {color:#FFFFFF;}      /* unvisited link */
a:visited {color:#000000;}  /* visited link */
a:hover {color:#FF00FF;}  /* mouse over link */
a:active {color:#808080;}  /* selected link */

body{
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

/* Typing Animation Code source: from https://css-tricks.com/snippets/css/typewriter-effect/ */


.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}


/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) 10s normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 20em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}


.nav{
	position: relative;
	text-align:center;
	display: inline-block;
	color: white;

}


li{
	list-style-type: none;
	list-style-position: outside;
	display: inline-block;
}

h1{
	margin: 0;
	padding: 0;
	display: block;
}

.links a{
	font-size: 0.7em;
	font-style: normal;
	font-weight: normal;
	font-family: 'Open Sans';
	letter-spacing: 2px;
	line-height: 20.899999618530273px;
	list-style-type: disc;
	padding-bottom: 0px;
	padding-left: 11px;
	padding-right: 11px;
	padding-top: 15px;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
}

a:hover{
	color: #77c4d3;
	border-color: #77c4d3;
}

a.current:hover{
	color: #77c4d3;
	border-bottom: 2px solid #77c4d3;
}

a.current{
	border-bottom: 2px solid #77c4d3;
}

.content{
	position: relative;
	width: 60%;
	line-height: 1.5;
	padding-top: 21%;
	padding-bottom: 22%;
	padding-left: 20%;
	padding-right: 20%;
	color: black;
	opacity: 1;
}

.content h1{
	position: relative;
	font-weight: 400;
	font-size: 3em;
	display: inline-block;
	width: 100%;
}

 
   .btn-class{
 display: inline-block;
 border: none;
 color: #F7FDFF;
 border-radius: 3px 3px 3px 3px;
 font-family: Times New Roman;
 width: auto;
 height: auto;
 font-size: 16px;
 padding: 10px 40px;
 background-image: linear-gradient(to top, #1296FC, #21DFFC);
 background-color: #40E6CF;
}

.btn-class:hover, .btn-class:active{
 border: none;
 color: #DCF2EB;
 box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
 background-color: #13CF38;
}
.content h2{
	font-size: 1.0em;
	font-weight: 100;
	position: relative;
	display: block;
}


#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}



#table tr:hover {background-color: #ddd;}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
	 background-image: linear-gradient(to top, #1296FC, #21DFFC);
	background-color: #40E6CF;
   
    color: white;
}

#rcorners{
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;   
}


.snIcon{
	height: 30px;
	width: 30px;
	margin-left: 20px;
}

#socialNetworks{
	height: 30px;
	padding: 0;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
   	background-color: #32cd32;
	background: linear-gradient(135deg, #32cd32 0%, #008b8b 30%, #5c3ca7 100%) fixed;
    padding: 20px;
}



@media  only screen and (min-device-width: 768px) 
{
    .form-container {
      padding: 5%;
     border-radius: 5px;
   	background-color: #32cd32;
	background: linear-gradient(135deg, #32cd32 0%, #008b8b 30%, #5c3ca7 100%) fixed;
    
             
      max-width: 520px;
      margin: auto;
    }

}

h1, p 
{
  text-align: center;
}

input, textarea , button
{
  width: 100%;
}    
textarea
{
  height: 200px;
}


