@font-face
{
    font-family: jaapokki;
	src: url('fonts/jaapokki-regular.eot');
	src: url('fonts/jaapokki-regulard41d.eot?#iefix') format('embedded-opentype'),
		url('fonts/jaapokki-regular.woff') format('woff'),
		url('fonts/jaapokki-regular.ttf')  format('truetype'),
		url('fonts/jaapokki-regular.svg#jaapokki') format('svg');
}

@font-face
{
    font-family: marshthing;
    src: url('fonts/marshthing.ttf');
} 


body {
  overflow: hidden;
}

.hidden {
      display:none;
}

.back {
  z-index: 99999;
  position: fixed;
  text-decoration: none;
  top: 2%;
  left: 1%;
  padding: 12px;
  color: #333;
  line-height: 1;
  cursor: pointer;
  background: #f7f7f7;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.dpp {
  z-index: 99999;
  position: fixed;
  text-decoration: none;
  top: 2%;
  right: 1%;
  padding: 12px;
  color: #333;
  line-height: 1;
  cursor: pointer;
  background: #f7f7f7;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

body
{
	background-color: #131313;

	font-family: 'jaapokki';
	color: white;

	margin: 0;
	padding: 0;

	cursor: context-menu;

	overflow-x: hidden;
}

.main-background-color
{
	-skrollr-animation-name: main-background-color;
	position: absolute;
	width: 100%;
	height: 100%;
}

.ghost
{
	background-image: url('img/ghost/ghostV2.png');
	position: absolute;
	
	width: 114px;
	height: 150px;

	bottom: 180px;
    left: 50%;

    outline: 1px solid transparent;
	
	-webkit-transition: transform 0.4s ease-in-out;
    -moz-transition: transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;

	-webkit-transform: translate(-50%, 0%) rotate(0deg);
	-moz-transform: translate(-50%, 0%) rotate(0deg);
	-o-transform: translate(-50%, 0%) rotate(0deg);
	-ms-transform: translate(-50%, 0%) rotate(0deg);
	transform: translate(-50%, 0%) rotate(0deg);

	-webkit-animation: 1.5s ease-in-out infinite alternate;
	-moz-animation: 1.5s ease-in-out infinite alternate;
	-o-animation: 1.5s ease-in-out infinite alternate;
	animation: 1.5s ease-in-out infinite alternate;

	-webkit-animation-name: changeBottom;
	-moz-animation-name: changeBottom;
	-o-animation-name: changeBottom;
	animation-name: changeBottom;

	z-index: 99999;
}

	.ghost.rotate-right
	{
	    -webkit-transform: translate(-50%, 0%) rotate(15deg);
    	-moz-transform: translate(-50%, 0%) rotate(15deg);
    	-o-transform: translate(-50%, 0%) rotate(15deg);
    	-ms-transform: translate(-50%, 0%) rotate(15deg);
    	transform: translate(-50%, 0%) rotate(15deg);
	}
	.ghost.rotate-left
	{
	    -webkit-transform: translate(-50%, 0%) rotate(-15deg);
    	-moz-transform: translate(-50%, 0%) rotate(-15deg);
    	-o-transform: translate(-50%, 0%) rotate(-15deg);
    	-ms-transform: translate(-50%, 0%) rotate(-15deg);
    	transform: translate(-50%, 0%) rotate(-15deg);
	}

	.ghost.under
	{
		z-index: 99;
	}

@-webkit-keyframes changeBottom
{
    from {
		bottom: 180px;
	}
	to {
		bottom: 210px;
	}
}

@-moz-keyframes changeBottom
{
    from {
		bottom: 180px;
	}
	to {
		bottom: 210px;
	}
}

@keyframes changeBottom
{
	from {
		bottom: 180px;
	}
	to {
		bottom: 210px;
	}
}

.no-scroll
{
    overflow: hidden;
    height: 100%;
}

.container
{
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.container.on
{
	opacity: 1;
}

.container.opac
{
	opacity: 1;
}

.first-layer
{
	position: absolute;
	width: 100%;
	height: 100%;
}

.second-layer
{
	-skrollr-animation-name: second-layer;
	position: absolute;
	width: 100%;
	height: 100%;
}

.main-layer
{
	-skrollr-animation-name: main-layer;
	position: absolute;
	height: 100%;
}

.center-hv
{
	top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-h
{
    left: 50%;

    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.center-v
{
    top: 50%;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.transition-three
{
	-webkit-transition: 0.3s linear all;
	-moz-transition: 0.3s linear all;
	-o-transition: 0.3s linear all;
  	transition: 0.3s linear all;
}

.transition-five
{
	-webkit-transition: 0.5s linear all;
	-moz-transition: 0.5s linear all;
	-o-transition: 0.5s linear all;
  	transition: 0.5s linear all;
}

.transition-six
{
	-webkit-transition: 0.6s linear all;
	-moz-transition: 0.6s linear all;
	-o-transition: 0.6s linear all;
  	transition: 0.6s linear all;
}

.transition-one
{
	-webkit-transition: 1s linear all;
	-moz-transition: 1s linear all;
	-o-transition: 1s linear all;
  	transition: 1s linear all;
}

.transition-one-five
{
	-webkit-transition: 1.5s linear all;
	-moz-transition: 1.5s linear all;
	-o-transition: 1.5s linear all;
  	transition: 1.5s linear all;
}


.transition-opacity-one
{
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.transition-opacity-five
{
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.loading
{
	position: absolute;
	width: 100%;
	height: 100%;
	
	z-index: 999;
	opacity: 1;
	top: 0%;

	-webkit-transition: 2s ease-in-out;
	-moz-transition: 2s ease-in-out;
	-o-transition: 2s ease-in-out;
  	transition: 2s ease-in-out;
}

.loading.on
{
	opacity: 0;
	top: -100%;
}

.pre-container
{
	position: fixed;
	width: 100%;
	height: 100%;
}

.ufo
{
	position: absolute;
	background-image: url('img/loading/ufo.png');

	width: 130px;
	height: 256px;

	top: 55%;
}

.ufo.light
{
	background-image: url('img/loading/ufoLight.png');

	opacity: 0;

	-webkit-animation: 3s ease-in-out infinite normal running;
	-moz-animation: 3s ease-in-out infinite normal running;
	-o-animation: 3s ease-in-out infinite normal running;
	animation: 3s ease-in-out infinite normal running;

	-webkit-animation-name: switch;
	-moz-animation-name: switch;
	-o-animation-name: switch;
	animation-name: switch;
}

.ufo-big
{
	-skrollr-animation-name: ufo-big;
	position: absolute;
	background-image: url('img/loading/ufoBig.png');

	width: 357px;
	height: 186px;

	z-index: 999;
}

.ufo-light-big
{
	-skrollr-animation-name: ufo-light-big;
	position: absolute;
	background-image: url('img/loading/ufoLightBig.png');

	width: 276px;
	height: 452px;

	bottom: 90px;
	
	z-index: 999;
}

@-webkit-keyframes switch
{
	30% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	90%
	{
		opacity: 0;
	}
}

@-moz-keyframes switch
{
	30% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	90%
	{
		opacity: 0;
	}
}

@keyframes switch
{
	30% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	90%
	{
		opacity: 0;
	}
}


.small-ghost
{
	position: absolute;
	background-image: url('img/ghost/smallGhost.png');

	width: 40px;
	height: 53px;

	bottom: 15px;
	right: -130px;

	opacity: 0;
	z-index: -10;

	-webkit-animation: 3s ease-in-out infinite normal running;
	-moz-animation: 3s ease-in-out infinite normal running;
	-o-animation: 3s ease-in-out infinite normal running;
	animation: 3s ease-in-out infinite normal running;

	-webkit-animation-name: float;
	-moz-animation-name: float;
	-o-animation-name: float;
	animation-name: float;
}

@-webkit-keyframes float
{
	0% {
		opacity: 0;
		right: -130px;
		bottom: 15px;
	}
	20% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
		right: 45px;
		bottom: 15px;
		-webkit-transform: rotate(0deg);
	    -moz-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	    transform: rotate(0deg);
	}
	90% {
		right: 45px;
		bottom: 150px;
	   -webkit-transform: rotate(360deg);
	    -moz-transform: rotate(360deg);
	    -ms-transform: rotate(360deg);
	    -o-transform: rotate(360deg);
	    transform: rotate(360deg);

		opacity: 0;
	}

}

@-moz-keyframes float
{
	0% {
		opacity: 0;
		right: -130px;
		bottom: 15px;
	}
	20% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
		right: 45px;
		bottom: 15px;
		-webkit-transform: rotate(0deg);
	    -moz-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	    transform: rotate(0deg);
	}
	90% {
		right: 45px;
		bottom: 150px;
	   -webkit-transform: rotate(360deg);
	    -moz-transform: rotate(360deg);
	    -ms-transform: rotate(360deg);
	    -o-transform: rotate(360deg);
	    transform: rotate(360deg);

		opacity: 0;
	}
}


@keyframes float
{
	0% {
		opacity: 0;
		right: -130px;
		bottom: 15px;
	}
	20% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
		right: 45px;
		bottom: 15px;
		-webkit-transform: rotate(0deg);
	    -moz-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	    transform: rotate(0deg);
	}
	90% {
		right: 45px;
		bottom: 150px;
	   -webkit-transform: rotate(360deg);
	    -moz-transform: rotate(360deg);
	    -ms-transform: rotate(360deg);
	    -o-transform: rotate(360deg);
	    transform: rotate(360deg);

		opacity: 0;
	}
}


.loading-small-cloud
{
	position: absolute;
	background-image: url('img/loading/cloud.png');

	width: 57px;
	height: 38px;

	top: -30px;
	left: -40px;

	-webkit-animation: 1.5s ease-in-out infinite alternate running;
	-moz-animation: 1.5s ease-in-out infinite alternate running;
	-o-animation: 1.5s ease-in-out infinite alternate running;
	animation: 1.5s ease-in-out infinite alternate running;

	-webkit-animation-name: cloudLeft;
	-moz-animation-name: cloudLeft;
	-o-animation-name: cloudLeft;
	animation-name: cloudLeft;
}

.loading-small-cloud.reverse
{
	background-image: url('img/loading/cloudReverse.png');
	
	top: -50px;
	left: 100px;

	-webkit-animation-name: cloudRight;
	-moz-animation-name: cloudRight;
	-o-animation-name: cloudRight;
	animation-name: cloudRight;
}

@-webkit-keyframes cloudLeft
{
	from {
		left: -30px;
	}
	to {
		left: -60px;
	}
}

@-moz-keyframes cloudLeft
{
	from {
		left: -30px;
	}
	to {
		left: -60px;
	}
}

@keyframes cloudLeft
{
	from {
		left: -30px;
	}
	to {
		left: -60px;
	}
}


@-webkit-keyframes cloudRight
{
	from {
		left: 100px;
	}
	to {
		left: 80px;
	}
}

@-moz-keyframes cloudRight
{
	from {
		left: 100px;
	}
	to {
		left: 80px;
	}
}

@keyframes cloudRight
{
	from {
		left: 100px;
	}
	to {
		left: 80px;
	}
}

.loading-text
{
	position: absolute;
	top: 85%;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 3px;
        text-align: center;	
}

.intro-stars
{
	position: absolute;
	background-image: url('img/intro/stars.png');

	width: 100%;
	height: 960px;

	opacity: 0.4;
}

.intro-stars.loading
{
	background-image: url('img/loading/starsLoading.png');
	top: 40%;
}